.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.center-div p {
    max-height: 200px;
    overflow: auto;
    width: 80%;
}

.like-button {
    display: inline-block;
    padding: 10px 50px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5x;
    background-color: #fff;
    transition: background-color 0.3s, border-color-0.3s;
}

.like-button:hover {
    background-color: skyblue;
    color: #fff;
}